<h2>Add a new Habit</h2>

<form action="/habit/add-habit" method="POST" enctype="multipart/form-data">

    <label for="input-habit">Name your habit</label>
    <input type="text" id="input-habit" name="name" placeholder="Listen to Frank Ocean everyday!" />

    <label for="input-intention">Choose your intention!</label>
    <select name="intention" id="input-intention">
      <option value="build">Build</option>
      <option value="quit">Quit</option>
    </select>

    <label for="input-time">Choose a goal period</label>
    <select name="period" id="input-time">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
      <option value="yearly">Yearly</option>
    </select>

     <label for="input-goal">Choose your goal!</label>
     <input type="number" id="input-goal" name="goal" min="1" >

     <label for="input-note">Add a note!</label>
     <textarea name="notes" id="input-note" cols="30" rows="10"></textarea>
     
     <label for="input-color">Color</label>
    <select name="color" id="input-time">
      <option value="tomato">Pretty red</option>
      <option value="orange">Sunset</option>
      <option value="dodgerblue">Easy blue</option>
      <option value="mediumseagreen">Cozy Forest</option>
      <option value="slateblue">Sky like</option>
      <option value="violet">Violeta</option>
      <option value="gray">Minimal Gray</option>
    </select>

     <div class="form-group">
        <label for="file-upload">Image</label>
        <div class="custom-file">
          <input type="file" name="image" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose Pic</label>
          </div>
      </div>

     <button type="submit">Create Habit</button>

    {{#if errorField}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>