<h1>Profile:</h1>
<hr>
<p>Hello {{user.username}}</p>

<img src="{{user.profilePic}}" alt="{{user.username}}">

<p>Email</p> 
<p>{{user.email}}</p>

<a href="/auth/add-habit">Add a new habit</a>

<a href="">logout</a>