<h1>Profile:</h1>
<hr>

<p>Hello {{user.username}}</p>

<img src="{{user.profilePic}}" alt="{{user.username}}">

<form action="/profile-pic" method="POST" enctype="multipart/form-data"></form>
<label for="input-profile">Update Profile Pic</label>
<input type="file" id="input-profile" name="input-profile">


<p>Email</p> 
<p>{{user.email}}</p>

<a href="/habit/add-habit">Add a new habit</a>

<a href="/habit/main">HabitPage</a>

<a href="">logout</a>