<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taby App</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <!-- plugin scripts -->
     <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper.min.css">
    <link rel="stylesheet" href="/stylesheets/piloz-icons.css">

    <!-- theme styles -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
</head>
<body>

    <div class="preloader">
        <img src="assets/images/loader.png" height="100" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="page-wrapper">
      

<section class="cta-one">
            <img src="/assets/images/shapes/cta-1-shape-1.png" class="cta-one__bg-shape-1" alt="">
            <img src="/assets/images/shapes/cta-1-shape-2.png" class="cta-one__bg-shape-2" alt="">
            <div class="container">
              
               
                    




<form action="/habit/update/{{habit._id}}" method="POST" >
    <h2>Add a new Habit</h2>
    <label for="input-habit">Name your habit</label>
    <input type="text" id="input-habit" name="name" placeholder="{{habit.name}}" />

    <label for="input-intention">Choose your intention!</label>
    <select name="intention" id="input-intention">
      <option value="build">Build</option>
      <option value="quit">Quit</option>
    </select>

    <label for="input-time">Choose a goal period</label>
    <select name="period" id="input-time">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
      <option value="yearly">Yearly</option>
    </select>

     <label for="input-goal">Choose your goal!</label>
     <input type="number" id="input-goal" name="goal" min="1" >

     <label for="input-note">Add a note!</label>
     <textarea name="notes" id="input-note" cols="30" rows="10" placeholder="{{habit.notes}}"></textarea>
     
     <label for="input-color">Color</label>
    <select name="color" id="input-time">
      <option value="tomato">Pretty red</option>
      <option value="orange">Sunset</option>
      <option value="dodgerblue">Easy blue</option>
      <option value="mediumseagreen">Cozy Forest</option>
      <option value="slateblue">Sky like</option>
      <option value="violet">Violeta</option>
      <option value="gray">Minimal Gray</option>
    </select>

    {{!--  <div class="form-group">
        <label for="file-upload">Image</label>
        <div class="custom-file">
          <input type="file" name="image" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose Pic</label>
          </div>
      </div> --}}

     <button type="submit">Create Habit</button>

    {{#if errorField}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>

            </div>
</section>

 <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/isotope.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/swiper.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>